<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'FVS', (user_signed_in? ? listings_path : root_path), class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Listings
          <b class="caret"></b>
        </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Actors', actors_path %></li>
              <li><%= link_to 'Film Makers', 'film-makers' %></li>
              <li><%= link_to 'Equipment', equipment_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'All Listings', listings_path %></li>
              <% if policy(Post.new).create? %>
                <li class="divider"></li>
                <li><%= link_to 'Create a Listing', new_user_post_path(current_user.id) %>
              <% end %>
            </ul>
        </li>
      </ul>

      <%= form_tag search_path, method: 'get', role: 'search', class: 'navbar-form navbar-left' do %>
        <div class="form-group">
          <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search' %>
        </div>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to current_user.name, edit_user_registration_path  %>
          </li>
          <li>
            <% if current_user.admin? && currently_flagged.count > 0 %>
              <%= link_to flagged_path, class: 'flagged_count' do %>
                Flagged (<%= currently_flagged.count %>)
              <% end %>
            <% end %>
          </li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
