<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Film and Video Society Board" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Film and Video Society Board" %>">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/retina.js/1.0.1/retina.js" %>
  <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <div id="main" class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

  <%= javascript_include_tag "application" %>
  </body>
</html>
